<a href="https://colab.research.google.com/github/eduardogobbo/fundamentus/blob/master/08_An%C3%A1lise_de_Empresas_com_Python_no_Google_Colab_Python_para_Investimentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ricos pelo Acaso

Link para o vídeo: https://youtu.be/e_ZRDG4F4ZA

# Importando Bibliotecas

In [ ]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

# Obtendo e tratando os dados

In [ ]:
url = 'https://www.fundamentus.com.br/resultado.php'

In [ ]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"  
 }

r = requests.get(url, headers=header)

In [ ]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

In [ ]:
df

      Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     VNET3     0.00     0.00  ...  9.257250e+09               0.00        -2,71%
1     CFLU4  1000.00     0.00  ...  6.035100e+07               0.06         8,14%
2     CLAN3     0.00     0.00  ...  1.012240e+09               0.00       -63,96%
3     CLSC6     0.00     0.00  ...  1.551160e+09               0.00         6,66%
4     CSTB3   150.00     0.00  ...  8.420670e+09               0.14        31,91%
..      ...      ...      ...  ...           ...                ...           ...
884   UBBR4     7.49   610.27  ...  1.031720e+10               0.00        10,58%
885  UBBR11    14.75  1201.81  ...  1.031720e+10               0.00        10,58%
886   UBBR3    18.00  1466.61  ...  1.031720e+10               0.00        10,58%
887   BRAP3    37.20  2295.54  ...  1.052240e+10               0.00         0,00%
888   BRAP4    41.34  2551.02  ...  1.052240e+10               0.00         0,00%

[889 rows x 21 columns]

In [ ]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

# Analisando os dados

In [ ]:
df = df[df['Liq.2meses'] > 1000000]

In [ ]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values

In [ ]:
ranking

     pos EV/EBIT   ROIC
0      1   PSSA3  WIZS3
1      2   SMLS3  PSSA3
2      3   ENAT3  TOTS3
3      4   WIZS3  ODPV3
4      5   VALE3  SMLS3
..   ...     ...    ...
145  146   LOGG3  FESA4
146  147   PTBL3  SUZB3
147  148   CAML3  JHSF3
148  149   RADL3  CAML3
149  150   GNDI3  BRKM5

[150 rows x 3 columns]

In [ ]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [ ]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [ ]:
t = pd.concat([a,b])
t

     AALR3  ABEV3  AGRO3  ALPA4  ALSO3  ...  LWSA3  MGLU3  PNVL3  PRNR3  WEGE3
pos  118.0   91.0   67.0  137.0   79.0  ...    NaN    NaN    NaN    NaN    NaN
pos  144.0   15.0   84.0   20.0  133.0  ...  100.0  108.0   68.0  143.0   10.0

[2 rows x 156 columns]

In [ ]:
rank = t.dropna(axis=1).sum()
rank

AALR3     262.0
ABEV3     106.0
AGRO3     151.0
ALPA4     157.0
ALSO3     212.0
          ...
VULC3     111.0
VVAR3     255.0
WIZS3       5.0
WSON33     54.0
YDUQ3      97.0
Length: 142, dtype: float64

In [ ]:
rank.sort_values()[:15]

PSSA3      3.0
WIZS3      5.0
SMLS3      7.0
SAPR4     20.0
SAPR11    20.0
VALE3     23.0
SAPR3     24.0
LEVE3     27.0
EQTL3     33.0
ALUP11    35.0
MRFG3     36.0
BEEF3     38.0
TGMA3     43.0
CVCB3     49.0
ENAT3     52.0
dtype: float64